$link-color: #a16426;
$text-color: #f99837;

.link {
  .movie__logo {
    transition: 0.3s ease-in-out;

    &:hover {
      transform: rotate(10deg);
    }
  }

  .text {
    color: $text-color;
    transition: color 0.3s ease;
  }
}

.link:hover {
  .movie__logo {
    transform: rotate(10deg);
  }

  .text {
    color: $link-color;
  }
}

.search {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  form {
    input {
      background-color: transparent;
      border: 1px solid $text-color;
      border-radius: 980px;

      margin-top: 2rem;
      margin-right: 1rem;
      padding: 10px 20px;

      font-size: 1.4rem;
      color: #fff;
    }

    input:focus {
      outline: none;
      border: transparent;
      box-shadow: 0px 0px 20px $text-color;
    }

    button {
      background-color: $text-color;
      border: none;
      border-radius: 980px;

      padding: 11px 22px;
      cursor: pointer;

      color: #000;
    }

    button:hover {
      background-color: $link-color;
    }

    button:active {
      box-shadow: 0px 0px 20px $text-color;
    }
  }
}
