@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background-color: rgba(0, 0, 0);
  background-image: url(./assets/filmrolls-bro2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 400px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #f99837;
}

a:hover {
  color: #cb7a29;
}

ul > li {
  list-style-type: none;
}
