.people__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  .person__carousel {
    display: flex;
    gap: 1rem;
  }

  .people__card {
    width: 100px;
    height: auto;

    img {
      border-radius: 20px;
      box-shadow: 3px 3px 8px #f99837aa;
      width: 100%;
    }
  }
}

.person__info__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  padding: 7rem 6rem;

  height: 100vh;

  .person__img__container {
    img {
      width: 500px;
      border-radius: 30px;
    }
  }

  .person__info {
    padding: 3rem;

    h1 {
      margin-bottom: 1rem;
    }

    .person__bio {
      padding-top: 2rem;
    }
  }
}
